[Unit]
Description=Collect Galaxy workflow invocations from nginx logs
After=nginx.service

[Service]
ExecStart=/bin/bash -c 'tail -n 0 -F /var/log/nginx/access.log | {{ workflow_invocations_venv }}/bin/python {{ workflow_invocations_dir }}/collect_workflow_invocations.py'
Restart=always
RestartSec=10
User=ubuntu
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
